<h2 class="text-center mb-3">Welcome</h2>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong>Opps!</strong> {{ message }}
        </div>
    {% endfor %}

{% endif %}
<form action="{% url 'voters:process_voting' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="uname">Student ID</label>
        <input type="text" name="username" id="uname" class="form-control" placeholder="Enter Username" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" name="password" id="pwd" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block text-white curve-in breezy-bg">Grant Access</button>
    </div>
</form>