  {% load widget_tweaks %}
   <form id="updateForm" method="POST" action="{% url 'staffs:update_contestant' contestant.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <img src="{{ contestant.profileImg.url }}" alt="" height="20%" width="20%" class="img-thumbnail"><br>
        {{ form.profile_image | add_class:"form-control"}}
    </div>
    <div class="form-group">
        <label for="">{{ form.position.label }}</label>
        {{ form.position|add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="">{{ form.fullName.label }}</label>
        {{ form.full_name|add_class:"form-control" }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-info">Update Candidate &checkmark;</button>
    </div>

</form>